img {
	width: 16px;
}

.lista {
	min-width: 50px;
}

.p-13 {
	padding: 0 13px !important;
}

/* Formulario */
.panel-info>.panel-heading {
    color: #3F1F62;
    border-color: #E30A8C;
    background: linear-gradient(to left, #B9078A, #FC1DBD);
}
.mainbox {
	margin-top: 50px;
}

.panel-body {
	padding-top: 30px;
}
.panel-info {
    border-color: #E30A8C;
}
.cont-icono {
	position: relative;
}

.cont-icono .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

.left-addon .glyphicon {
	left: 0px;
}

.right-addon .glyphicon {
	right: 0px;
}

.left-addon input {
	padding-left: 30px;
}

.right-addon input {
	padding-right: 30px;
}
.terms{
	color: #05AAF7;
}

.mb-5 {
	margin-bottom: 25px;
}
.icono{
	font-size: 2em;
    padding: 27px 0px;
    color: black;
}

.icono:hover{
	text-decoration: none;
	color: black;
}

.text-center h2{
	font-weight: bold;
}
.btn {
    width: 100%;
	letter-spacing: 2px;
}

.btn-next {
    padding: 0 20px;
    background-color: #FF00BE;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 50px;
    color: #fff;
    transition: all .3s;
}
.boton{
	position: absolute;
	bottom: 0;
}
.codigo {
    border-left: none;
    border-right: none;
    border-top: white;
    padding-left: 10px;
    border-color: gray;
    display: inline-block;
    width: 50px;
    margin-top: 20px;
}
.codigo:focus{
	outline: none;
}
