img {
	width: 22px;
	margin-right: 10px;
}
.text-center h3 {
	font-weight: bold;
}
.btn-next {
	padding: 0 20px;
	background-color: #FF00BE;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 50px;
	color: #fff;
	transition: all .3s;
	width: 100%;
	letter-spacing: 2px;
	border-radius: 0px;
}
.boton {
	position: absolute;
	bottom: 0;
}

/* Ingresar Numero */

.icono {
	font-size: 2em;
	padding: 27px 0px;
	color: black;
}

.icono:hover {
	text-decoration: none;
	color: black;
}

#numero {
	outline: 0px;
}

.form-control:focus {
   border-color: #ccc;
    box-shadow: none;
}
#postal {
	color: #9FA4A7;
	;
	border-right: none;
}

#postal:hover {
	background-color: #fff;
	border-color: #ccc;
}

#postal:focus {
	outline: 0px;
}

.menu {
	min-width: 10px;
}

.dropdown-menu>li>a {
	padding: 5px 16px !important;
}

/* Verificar numero */
.codigo {
	border: none;
	border-bottom: 1px solid gray;
	border-color: gray;
	margin-left: 10px;
	width: 15%;
	margin-top: 20px;
}

.codigo:focus {
	outline: none;
}

/* Formulario  Sign up*/

.panel-info>.panel-heading {
	color: #3F1F62;
	border-color: #E30A8C;
	background: linear-gradient(to left, #B9078A, #FC1DBD);
}

.mainbox {
	margin-top: 50px;
}

.panel-body {
	padding-top: 30px;
}

.panel-info {
	border-color: #E30A8C;
}

.cont-icono {
	position: relative;
}

.cont-icono .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

.left-addon .glyphicon {
	left: 0px;
}

.right-addon .glyphicon {
	right: 0px;
}

.left-addon input {
	padding-left: 30px;
}

.right-addon input {
	padding-right: 30px;
}

.terms {
	color: #05AAF7;
}

.mb-5 {
	margin-bottom: 25px;
}