@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body {
	font-family: 'Work Sans', sans-serif;
	line-height: 1.5;
	color: #060B22;
}

a {
	text-decoration: none;
	color: #060B22;
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none !important;
	outline: none;
}

img {
	width: 22px;
	margin-right: 10px;
}

.editado {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.text-center h3 {
	font-weight: bold;
}

.btn-next {
	padding: 0 20px;
	background-color: #00AF5A;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 50px;
	color: #fff;
	transition: all .3s;
	width: 100%;
	letter-spacing: 2px;
	border-radius: 0px;
}

.boton {
	position: absolute;
	bottom: 0;
}


/* Ingresar Numero */

.icono {
	font-size: 2em !important;
	padding: 27px 0px;
}

.icono:hover {
	text-decoration: none;
	color: black;
}

#numero {
	outline: 0px;
}

.form-control:focus {
	border-color: #ccc;
	box-shadow: none;
}

#postal {
	color: #9FA4A7;
	;
	border-right: none;
}

#postal:hover {
	background-color: #fff;
	border-color: #ccc;
}

#postal:focus {
	outline: 0px;
}

.menu {
	min-width: 10px;
}

.dropdown-menu>li>a {
	padding: 5px 16px !important;
}


/* Verificar numero */

.codigo {
	border: none;
	border-bottom: 1px solid gray;
	border-color: gray;
	margin-left: 10px;
	width: 15%;
	margin-top: 20px;
}

.codigo:focus {
	outline: none;
}


/* Sign up */

.terms {
	color: #05AAF7;
}

.datos {
	border: none;
	display: inline-block;
	width: 105px;
}

.datos:focus {
	outline: none;
}

.terminos {
	text-align: center;
	margin: 18px;
}

.input-group {
	margin-bottom: 15px;
}


/* MAPA */

#map {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}
#direccion {
    position: absolute;
    bottom: 100px;
    padding: 0;
    background: black;
    z-index: 2;
    left: 15px;
    color: white;
}
.efecto {
	position: absolute;
	left: 47px;
	overflow: hidden;
	z-index: 2;
}

.icono-gift {
	font-size: 30px !important;
	color: #060A23;
	left: 9em;
	margin-top: 0.3em;
	border: 1px solid gray;
	border-radius: 50%;
	background-color: white;
	padding: 4px;
}

.icono-map {
	font-size: 45px !important;
	color: #060A23;
	margin-top: 0.2em;
}

.logo {
	position: absolute;
	z-index: 2;
	margin-top: 1em;
	width: 66px;
	margin-left: 10em;
}

.input {
	position: absolute;
	z-index: 1;
	bottom: 64px;
	left: 65px;
}

.usuario {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-left: -5px;
	margin-top: 2em;
}

.perfil {
	margin-top: 2.5em;
	font-size: 16px;
	white-space: nowrap;
}

#nombre-perfil {
	font-weight: 600;
}

#ver-perfil {
	margin-top: 2.5em !important;
	margin-bottom: 1.5em !important;
	color: #060A23 !important;
}

.separador {
	border: 1px solid gray;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 1em;
}

.btn-map {
	padding: 0 20px;
	background-color: #108F66;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 50px;
	color: #fff;
	transition: all .3s;
	width: 100%;
	letter-spacing: 2px;
	border-radius: 0px;
	z-index: 1;
}


/* Ver perfil */

.user {
	background: url(../img/user.jpg) no-repeat;
	height: 200px;
	margin-bottom: 2em;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: 100% 100%;
}

.nombre-perfil {
	font-size: 26px;
}

.join-date {
	margin: 0px 0.8em;
	padding: 2% 0;
	border-radius: 5px;
	background-color: #23527c;
	color: white;
}

.info {
	margin: 1.2em;
	font-size: 16px;
}

.ml-8 {
	margin-left: 0.8em;
}

.camara {
	float: right;
	margin-top: 2.5em;
	margin-right: 0.5em;
}


/* Editar Usuario */

#video {
	width: 304px;
	height: 245px;
	margin-top: 10em;
	margin-left: 14px;
}

#canvas {
	width: 191px;
	height: 168px;
	margin-top: 1em;
	margin-left: 75px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
