img {
	width: 16px;
}
.lista {
	min-width: 50px;
}
.p-13 {
	padding: 0 13px !important;
}
/* Formulario */

.mainbox{
	margin-top:50px;
}
.panel-body{
	 padding-top:30px;
}
.input-group{
	 margin-bottom: 25px;
}
