.mb-5 {
	margin-bottom: 25px;
}
.icono{
	font-size: 2em;
    padding: 27px 0px;
    color: black;
}

.icono:hover{
	text-decoration: none;
	color: black;
}

.text-center h2{
	font-weight: bold;
}
.codigo{
	display: inline-block;
	font-weight: bold;
}

.phone {
    padding: 8px 0px;
    font-size: 16px;
}
.btn {
    width: 100%;
	letter-spacing: 2px;
}

.btn-next {
    padding: 0 20px;
    background-color: #FF00BE;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 50px;
    color: #fff;
    transition: all .3s;
}
.botones{
	margin: 0 auto;
	width: 100%;
	position: absolute;
	bottom: 5%;
}
.numero {
    border-left: none;
    border-right: none;
    border-top: white;
    padding-left: 10px;
    border-color: gray;
    display: inline-block;
    width: 50px;
    margin-top: 20px;
}
.numero:focus{
	outline: none;
}