.mb-5 {
	margin-bottom: 25px;
}
.titulo{
	margin-top:-28px !important;
}
.icono-back{
	margin-top: 20px;
	margin-left: 10px;
	font-size: 28px !important;
}
.btn {
    width: 100%;
	letter-spacing: 2px;
}

.btn-next {
    padding: 0 20px;
    background-color: #FF00BE;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 50px;
    color: #fff;
    transition: all .3s;
}
.botones{
	margin: 0 auto;
	width: 100%;
	position: absolute;
	bottom: 5%;
}
